<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="rnt.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Lobster&family=Pacifico&display=swap"
    rel="stylesheet">
  <title>ReadNTrade</title>
</head>

<body class="bc">
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
        <a class="navbar-brand" href="/cart">
          <img src="/imageS/icon.png" class="img-icon" alt="Responsive image" height="50px" width="50px">
          ReadNTrade
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav m-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="/home">
                <i class="fa-solid fa-house"></i>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/sales">
                <i class="fa-brands fa-sellcast"></i>
                Sales
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/add">
                <i class="fa-solid fa-cart-shopping fa-beat"></i>
                Add
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/chat">
                <i class="fa-solid fa-message fa-bounce"></i>
                Message
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/profile">
                <i class="fa-solid fa-user"></i>
                Profile
              </a>
            </li>
          </ul>
          <form action="/logout" method="post" class="d-inline-block">
            <button class="btn btn1 btn-success mx-3" type="submit">
              Log Out
            </button>
          </form>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div>
  <a href="/report" class="btn btn-primary" style="margin-left: 1190px;  background-color: brown; color: rgb(255, 255, 255);">Report</a>

      <h1>Book Details</h1>
      <table class="flash">
        <!-- Add the 'flash' class to the table -->
        <tr>
          <th>Book ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Seller</th>
          <th colspan="2">Action</th>
        </tr>
        <% for (let i=0; i < books.length; i++) { %>
          <tr>
            <td><%= books[i][0] %></td>
            <td><%= books[i][2] %></td>
            <td><%= books[i][3] %></td>
            <td><%= books[i][4] %></td>
            <td><%= books[i][5]  %> </td>
            <td><%= (books[i][6] * 100).toFixed(2) %>%</td>
            <td style="color: blue;"><%= books[i][7] %> (ID: <%= books[i][1] %>)</td>
            <td>
              <button class="btn remove-from-cart-btn" data-book-id="<%= books[i][0] %>" data-seller-id="<%= books[i][1] %>">
                <i class="fa-solid fa-trash fa-bounce fa-xl"></i>
              </button>
            </td>
            <td>
              <form action="/payment" method="post">
                <input type="hidden" name="bookID" value="<%= books[i][0] %>">
                <input type="hidden" name="sellerID" value="<%= books[i][1] %>">
                <button class="btn" type="submit">
                  <i class="fa-solid fa-bag-shopping fa-beat-fade fa-xl" style="color: #1b0909;"></i>
                </button>
              </form>
            </td>
          </tr>
          <% } %>
      </table>
    </div>

<script>
  document.querySelectorAll('.remove-from-cart-btn').forEach(btn => {
    btn.addEventListener('click', function() {
        const bookID = this.getAttribute('data-book-id');
        const sellerID = this.getAttribute('data-seller-id');
        console.log('s id ', sellerID);
        axios.post('/removeFromCart', { bookID: bookID, sellerID: sellerID })
            .then(function(response) {
                if (response.data.success) {
                    // alert('Book removed successfully!');
                    location.reload();
                } else {
                    alert('Failed to remove the book. Please try again.');
                }
            })
            .catch(function(error) {
                alert('Failed to remove the book. Please try again.');
            });
    });
});

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
  </div>
</body>

</html>