<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting...</title>
    <link rel="stylesheet" href="./style_chat.css"> <!-- Link to a stylesheet for improved UI -->
</head>

<body>
    
    <div id="chat-container">

        <!-- Display the current user's profile or name -->
        <!-- <header >
            <h2>Welcome, User <%= userID %></h2>
        </header> -->
        
        <!-- Allow user to manually enter a receiver ID -->
        <div id="add-room">
            <input type="text" id="receiver_id" placeholder="Enter User ID to chat">
            <button onclick="joinRoom('<%= userID %>',document.getElementById('receiver_id').value)">Start Chat</button>
        </div>
        <!-- <div><br></div> -->
        <!-- Display list of users the current user has interacted with -->
        <div id="room-list">
            <% queryData.forEach(function(id) { %>
                <!-- Added an online status indicator (this is a placeholder and would need actual status data to work) -->
                <button onclick="joinRoom('<%=userID %>','<%= id %>')">User <%= id %> <span class="online-status"></span></button>
            <% }); %>
            <div><br></div>
            <div id="clicked-message" style="color: rgb(255, 255, 255);font-weight: bold;"></div>

        </div>
        
        <div><br></div>
        
        <div id="message-window">
            <!-- <div class="chat-header">
                Conversation with: <span id="chat-partner-name"></span>
            </div> -->
            <div class="chat-messages" id="messages"></div>

            <div class="chat-footer">
                <textarea id="message-text" placeholder="Type your message..."></textarea>
                <button onclick="sendMessage(document.getElementById('message-text').value)">Send</button>
            </div>
            
        </div>
        
        
    </div>

    <!-- Include the Socket.io client library -->
    <script src="/socket.io/socket.io.js"></script>
    <% if(includeChatClient) { %>
        <script src="./chatClient.js"></script>
    <% } %>

    

</body>

</html>
