<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/imageS/rnt.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Lobster&family=Pacifico&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <title>ReadNTrade</title>
</head>

<body class="bc">
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
        <a class="navbar-brand" href="/profile">
          <img src="/imageS/icon.png" class="img-icon" alt="Responsive image" height="50px" width="50px">
          ReadNTrade
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav m-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="/home">
                <i class="fa-solid fa-house"></i>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/sales">
                <i class="fa-brands fa-sellcast"></i>
                Sales
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/add">
                <i class="fa-solid fa-book"></i>
                Add
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/chat">
                <i class="fa-solid fa-message fa-bounce"></i>
                Message
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/cart">
                <i class="fa-solid fa-cart-shopping fa-beat"></i>
                Cart
              </a>
            </li>
          </ul>
          <form action="/logout" method="post" class="d-inline-block">
            <button class="btn btn1 btn-success mx-3" type="submit">
              Log Out
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-1">

        </div>
        <div class="col-3 text-start">
          <br><br><br>
          <img src="/imageS/user.png" alt="userIcon" height="230" width="200">
        </div>
        <div class="col-8 he1">
          <br><br><br>
          <h3 class="fs-1 fw-bolder text-start ml-5">User Info</h3>

          <div class="row fs-3">
            <div class="col-3">User ID :</div>
            <div class="col-4">
              <%=userID%>
            </div>
          </div>

          <div class="row fs-3">
            <div class="col-3">Name :</div>
            <div class="col-4">
              <%= userName  %>
            </div>
          </div>
          <div class="row fs-5">
            <div class="col-3"></div>
            <div class="col-4">
              <button class="btn btn-info" id="cngname" style="display: block;" onclick="changename()">Edit</button>
              <form action="/profile" method="post">
                <div class="form-group">
                  <input class="form-control mb-2 rounded" type="text" id="inputfname" name="cngfname"
                    style="display: none;" placeholder="first name" autocomplete="off" required>
                  <input class="form-control mb-2 rounded" type="text" id="inputlname" name="cnglname"
                    style="display: none;" placeholder="last name" autocomplete="off" required>
                </div>
                <div class="row">
                  <div class="col-4 mr-5">
                    <button class="btn btn-info" type="submit" style="display: none;" id="btnname">Submit</button>
                  </div>
                  <div class="col-3 ml-5">
                    <button type="reset" class="btn btn-info " id="backname" style="display: none;"
                      onclick="nameback()">Back</button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row fs-3">
            <div class="col-3">Email :</div>
            <div class="col-4">
              <%= detail[0][1] ? detail[0][1] : "Not available" %>
            </div>
          </div>

          <div class="row fs-5">
            <div class="col-3"></div>
            <div class="col-4">
              <button class="btn btn-info" id="cngmail" style="display: block;" onclick="mailchange()">Edit</button>
              <form action="/profile" method="post">
                <div class="form-group">
                  <input class="form-control mb-2" type="text" id="inputmail" name="cngmail" style="display: none;"
                    placeholder="email" autocomplete="off" required>
                </div>
                <div class="row">
                  <div class="col-4 mr-5">
                    <button class="btn btn-info" type="submit" style="display: none;" id="btnmail">Submit</button>
                  </div>
                  <div class="col-3 ml-5">
                    <button type="reset" class="btn btn-info " id="backmail" style="display: none;"
                      onclick="mailback()">Back</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row fs-3">
            <div class="col-3">Address :</div>
            <div class="col-4">
              <%= detail[0][2] ? detail[0][2] : "Not Available" %>
              <%= detail[0][3] %>
            </div>
          </div>
          <div class="row fs-5">
            <div class="col-3"></div>
            <div class="col-4">
              <button class="btn btn-info" id="cngloc" style="display: block;" onclick="locchange()">Edit</button>
              <form action="/profile" id="locationform" method="post" style="display: none;">
                <div class="form-group">
                  <label for="division">Select Division:</label>
                  <select class="form-control" id="division" name="division" onchange="updateDistricts()">
                    <option value="Barisal">Barisal</option>
                    <option value="Chittagong">Chittagong</option>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Mymensingh">Mymensingh</option>
                    <option value="Rajshahi">Rajshahi</option>
                    <option value="Rangpur">Rangpur</option>
                    <option value="Sylhet">Sylhet</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="district">Select District:</label>
                  <select class="form-control" id="district" name="district">
                  </select>
                </div>
                <div class="row">
                  <div class="col-4 mr-5">
                    <button type="submit" class="btn btn-info mt-2 ">Submit</button>
                  </div>
                  <div class="col-3 ml-5">
                    <button type="reset" class="btn btn-info mt-2 " id="backloc" style="display: block;"
                      onclick="locback()">Back</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row fs-3">
            <div class="col-3">Ordered :</div>
            <div class="col-2">
              <%= orderCount[0] && orderCount[0][0] ? orderCount[0][0] : 0 %> Books
            </div>
          </div>
          <div class="row fs-3">
            <div class="col-3">On Sale :</div>
            <div class="col-2">
              <%= toSellcount[0] && toSellcount[0][0] ? toSellcount[0][0] : 0 %> Books
            </div>
          </div>
          <div class="row fs-3">
            <div class="col-3">Sold :</div>
            <div class="col-2">
              <%= soldCount[0] && soldCount[0][0] ? soldCount[0][0] : 0 %> Books
            </div>
          </div>
          <div class="row fs-3">
            <div class="col-3">Earned :</div>
            <div class="col-2">
              Tk. <%= money[0] && money[0][0] ? money[0][0] : 0 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function mailchange() {
      var inputmail = document.getElementById("inputmail");
      var submitmail = document.getElementById("btnmail");
      var changemail = document.getElementById("cngmail");
      var backmail = document.getElementById("backmail"); //
      inputmail.style.display = "block";
      submitmail.style.display = "block";
      changemail.style.display = "none";
      backmail.style.display = "block";
    }

    function mailback() {
      var inputmail = document.getElementById("inputmail");
      var submitmail = document.getElementById("btnmail");
      var changemail = document.getElementById("cngmail");
      var backmail = document.getElementById("backmail"); //
      inputmail.style.display = "none";
      submitmail.style.display = "none";
      changemail.style.display = "block";
      backmail.style.display = "none";
    }

    function changename() {
      var inputfname = document.getElementById("inputfname");
      var inputlname = document.getElementById("inputlname");
      var submitname = document.getElementById("btnname");
      var changename = document.getElementById("cngname");
      var backname = document.getElementById("backname");
      inputfname.style.display = "block";
      inputlname.style.display = "block";
      submitname.style.display = "block";
      changename.style.display = "none";
      backname.style.display = "block";
    }
    function nameback() {
      var fname = document.getElementById("inputfname");
      var lname = document.getElementById("inputlname");
      var submitn = document.getElementById("btnname");
      var changen = document.getElementById("cngname");
      var backn = document.getElementById("backname");
      fname.style.display = "none";
      lname.style.display = "none";
      submitn.style.display = "none";
      changen.style.display = "block";
      backn.style.display = "none";
    }
    function locchange() {
      var inputloc = document.getElementById("locationform");
      var btnloc = document.getElementById("cngloc");
      btnloc.style.display = "none";
      inputloc.style.display = "block";
    }

    function locback() {
      var form = document.getElementById('locationform');
      var button = document.getElementById('cngloc');
      button.style.display = "block";
      form.style.display = "none";
    }

    function updateDistricts() {
      var division = document.getElementById("division").value;
      var districtSelect = document.getElementById("district");

      districtSelect.innerHTML = "";

      if (division === "Barisal") {
        var districtOptions = ["Barisal", "Barguna", "Jhalokati", "Patuakhali", "Pirojpur", "Bhola"];
      } else if (division === "Chittagong") {
        var districtOptions = ["Chittagong", "Bandarban", "Brahmanbaria", "Chandpur", "Noakhali", "Comilla", "CoxsBazar", "Feni", "Khagrachari", "Lakshmipur", "Rangamati"];
      } else if (division === "Dhaka") {
        var districtOptions = ["Dhaka", "Faridpur", "Gazipur", "Gopalganj", "Kishoreganj", "Madaripur", "Manikganj", "Munshiganj", "Narayanganj", "Narsingdi", "Rajbari", "Shariatpur", "Tangail"];
      } else if (division === "Khulna") {
        var districtOptions = ["Khulna", "Bagerhat", "Chuadanga", "Jessore", "Jhenaidah", "Kushtia", "Magura", "Meherpur", "Narail", "Satkhira"];
      } else if (division === "Mymensingh") {
        var districtOptions = ["Mymensingh", "Jamalpur", "Netrokona", "Sherpur"];
      } else if (division === "Rajshahi") {
        var districtOptions = ["Rajshahi", "Bogra", "Pabna", "Sirajgonj", "Chapai-Nawabganj", "Natore", "Naogaon", "Joypurhat"];
      } else if (division === "Rangpur") {
        var districtOptions = ["Rangpur", "Thakurgaon", "Dinajpur", "Gaibandha", "Kurigram", "Lalmonirhat", "Nilphamari", "Panchagarh"];
      } else if (division === "Sylhet") {
        var districtOptions = ["Sylhet", "Habiganj", "Maulvibazar", "Sunamganj"];
      }

      districtOptions.forEach(function (district) {
        var option = document.createElement("option");
        option.value = district;
        option.text = district;
        districtSelect.appendChild(option);
      });
    }
  </script>
</body>

</html>